@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

html, body {
	margin: 0;
	height: 100%;
}

body{
	background: #302E2D;
	font-family: 'Roboto';
	color: #FFFF;
}

.horizontal {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.vertical {
	height: 100%;
	display: flex;
	margin: 1%;
}

.nav{
	background: #3A3935;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 50%;
	font-size: 75px;
	list-style-type: none;
	margin-right: 1%;
	margin-bottom: 0px;
	margin-top: 0px;
}

.bell {
	font-size: 50px;
}

nav .bi:hover{
	transition: all 0.5s;
	color: #901644;
}

nav .bi{
	transition: all 0.5s;
}

nav li{
	display: inline;
}

nav a{
	color: #FFFF;
	text-decoration: none;
}

main{
	background: #3A3935;
	display: flex;
	width: 70%;
	height: inherit;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.match-history {
	background: #302E2D;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	margin: 1%;
	width: 50%;
	max-height: inherit;
	transition: all 0.5s;
}

.match-history:hover {
	transition: all 0.5s;
	box-shadow: #901644 2.4px 2.4px 10px;
}

.match-history h3 {
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.stat {
	margin: 1% 1% 1% 0;
	width: 50%;
	max-height: inherit;
	
}

.rank {
	height: 49.5%;
	background: #302E2D;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	margin-bottom: 1%;
	transition: all 0.5s;
}
.rank:hover {
	transition: all 0.5s;
	box-shadow: #901644 2.4px 2.4px 10px;
}

.graph {
	height: 49.5%;
	background: #302E2D;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	transition: all 0.5s;
}

.graph:hover {
	transition: all 0.5s;
	box-shadow: #901644 2.4px 2.4px 10px;
}

.info {
	background: #3A3935;
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-left: 1%;
	height: inherit;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.user-info {
	background: #302E2D;
	height: 13%;
	display: flex;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	margin: 1%;
	transition: all 0.5s;
}

.user-info:hover {
	transition: all 0.5s;
	box-shadow: #901644 2.4px 2.4px 10px;
}

.user-info .user-picture {
	height: 100%;
	aspect-ratio: 1/1;
	background-image:url('danseuse.jpeg');
	margin-right: 5%;
}

.user-info .username {
	margin-right: 10%;
}

.friends-info {
	background: #302E2D;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	height: 82%;
	margin: 1%;
	padding: 0;
	transition: all 0.5s;
}

.friends-info:hover {
	transition: all 0.5s;
	box-shadow: #901644 2.4px 2.4px 10px;
}

.friends-info h3{
	letter-spacing: 2px;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
}

.chat {
	background: red;
	height: 5%;
}
